body {
  font-family: Arial, Helvetica, sans-serif;
}

#files-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.file-item {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.file-item img {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.progress-bar {
  background-color: #3787ff;
  height: 10px;
  width: 5px;
}

main {
  width: 920px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

main img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
